:root {
  --base: #ffc600;
  --spacing: 10px;
  --blur: 10px;
}

img {
  padding: var(--spacing);
  background: var(--base);
  filter: blur(var(--blur));
}

.hl {
  color: var(--base);
  font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 600;
  letter-spacing: -4px;
}

/* Section Divider */

body {
  text-align: center;
  background: #193549;
  color: white;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 100;
  font-size: 50px;
}

h2 {
  letter-spacing: 2px;
  word-spacing: -6px;
}

.controls {
  margin-bottom: 50px;
}

input {
  width: 100px;
}
