html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

div {
  width: 100%;
  padding: 100px;
}

.one {
  background-image: url(https://i.ibb.co/LgJbZtZ/nabicho1.jpg);
}

.two {
  background-image: url(https://i.ibb.co/KzKMMCw/nyap1.jpg);
}

.three {
  background-image: url(https://i.ibb.co/hRR3vtG/nyap2.jpg);
}