html {
  font-family: sans-serif;
}

body {
  margin: 0;
  background-color: #ffc600;
}

p {
  font-size: 1.6rem;
  font-weight: 600;
}

.videos {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.sum {
  margin: auto;
}

.video {
  color: white;
  text-align: center;
  align-items: center;
  transition: font-size 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11),
    flex-grow 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11), background 0.2s;
  font-size: 20px;
  background-size: cover;
  background-position: center;
  flex: 1;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.video1 {
  background-image: url(https://picsum.photos/1500/1500?random=1);
}
.video2 {
  background-image: url(https://picsum.photos/1500/1500?random=2);
}
.video3 {
  background-image: url(https://picsum.photos/1500/1500?random=3);
}
.video4 {
  background-image: url(https://picsum.photos/1500/1500?random=4);
}
.video5 {
  background-image: url(https://picsum.photos/1500/1500?random=5);
}
.video6 {
  background-image: url(https://picsum.photos/1500/1500?random=6);
}
.video7 {
  background-image: url(https://picsum.photos/1500/1500?random=7);
}
.video8 {
  background-image: url(https://picsum.photos/1500/1500?random=8);
}
.video9 {
  background-image: url(https://picsum.photos/1500/1500?random=9);
}
.video10 {
  background-image: url(https://picsum.photos/1500/1500?random=10);
}
.video11 {
  background-image: url(https://picsum.photos/1500/1500?random=11);
}
.video12 {
  background-image: url(https://picsum.photos/1500/1500?random=12);
}
.video13 {
  background-image: url(https://picsum.photos/1500/1500?random=13);
}
.video14 {
  background-image: url(https://picsum.photos/1500/1500?random=14);
}
.video15 {
  background-image: url(https://picsum.photos/1500/1500?random=15);
}
.video16 {
  background-image: url(https://picsum.photos/1500/1500?random=16);
}
.video17 {
  background-image: url(https://picsum.photos/1500/1500?random=17);
}
.video18 {
  background-image: url(https://picsum.photos/1500/1500?random=18);
}
.video19 {
  background-image: url(https://picsum.photos/1500/1500?random=19);
}
.video20 {
  background-image: url(https://picsum.photos/1500/1500?random=20);
}
.video21 {
  background-image: url(https://picsum.photos/1500/1500?random=21);
}
.video22 {
  background-image: url(https://picsum.photos/1500/1500?random=22);
}
.video23 {
  background-image: url(https://picsum.photos/1500/1500?random=23);
}
